.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.map {
  grid-area: 2 / 1 / 3 / 3;
}

@media screen and (max-width: 640px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .section > * {
    width: 100%;
  }
}
