@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
  --navbar-height: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;

  h1,
  h2,
  p {
    font-family: 'Open Sans', sans-serif;
  }

  .navbar {
    width: 100%;
  }
  .navbar-header {
    background-color: rgb(17, 0, 92);
  }
  .navbar-footer {
    background-color: rgb(17, 0, 92, 0.3);
  }

  main {
    height: calc(100vh - var(--navbar-height) * 2);
    overflow: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
