@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige1: rgba(245, 237, 226, 1);
  --beige2: rgba(238, 229, 217, 1);
  --light-blue: rgba(119, 144, 237, 1);
  --heading-color: rgb(41, 38, 33);

  --background-start-rgb: var(--beige1);
  --background-end-rgb: var(--beige2);
  --background-footer: rgba(41, 38, 33, 0.3);
  --navbar-height: 5rem;
}

body {
  background: linear-gradient(
    167.86deg,
    var(--background-start-rgb) 25.59%,
    var(--background-end-rgb) 100%
  );

  min-height: 100vh;

  .navbar {
    width: 100%;
  }

  .navbar-footer {
    background-color: var(--background-footer);
  }

  main {
    height: calc(100vh - var(--navbar-height) * 2);
    overflow: auto;
  }
}
h1,
h2 {
  color: var(--heading-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
