.chip {
  box-shadow: 4px 4px 6px 0px rgba(142, 129, 111, 0.27) inset,
    -4px -3px 6px 0px rgba(255, 255, 255, 0.68) inset;
  background: var(--beige1);
  color: var(--heading-color);
  padding: 10px 18px;
  border-radius: 17px;
}
