.nav {
  height: var(--navbar-height);
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  margin: 0 2rem;
  font-size: 1.2rem;
}

.navlink {
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  color: black;
  background-color: var(--beige1);
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: 7px 6px 6px 0px rgba(142, 129, 111, 0.27),
    -4px -4px 4px 0px rgba(255, 255, 255, 0.46),
    -3px -3px 6px 0px rgba(142, 129, 111, 0.27) inset,
    3px 3px 6px 0px rgba(255, 255, 255, 0.53) inset;

  &:hover {
    box-shadow: 7px 6px 6px 0px rgba(119, 144, 237, 0.5);
  }
  &:focus,
  &:active {
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.13) inset,
      -5px -6px 5px 0px rgba(255, 255, 255, 0.33) inset;
  }
}

.active {
  background-color: var(--light-blue);
  color: white;
  // border-color: #f1a80a;
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .nav {
    height: max-content;
    min-height: 50px;
  }
  .li {
    font-size: 1rem;
  }
  .navlink {
    padding: 0.5rem;
  }
}
