.nav {
  height: var(--navbar-height);
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  margin: 0 2rem;
  font-size: 1.2rem;
}

.navlink {
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  color: white;
  background-color: rgb(17, 0, 92, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 5px 5px 5px gray;
    border: 1px solid gray;
  }
}

.active {
  background-color: aquamarine;
  color: black;
  border-color: #f1a80a;
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .nav {
    height: max-content;
    min-height: 50px;
  }
  .li {
    font-size: 1rem;
  }
  .navlink {
    padding: 0.5rem;
  }
}
